@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: sans-serif;
  background-color: #f5f5fa;
  font-family: "font-sans";
}
.ant-upload-list-item-name {
  display: none !important;
}
.ant-upload-list-item {
  display: none !important;
}
.ant-input-number-handler-wrap {
  display: none !important;
}
.ant-input-number-input {
  text-align: center !important;
}
.ant-form-item-required::before {
  display: none !important;
}
