.ant-table-cell {
  color: black !important;
  text-align: center !important;
  position: relative;
  gap: 10px !important;
}

.ant-table-cell img {
  position: absolute; /* Thêm position: absolute vào hình ảnh */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50px;
}

.ant-table-thead {
  text-align: center !important;
}
.ant-table-content {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.ant-btn-primary:hover span {
  color: white;
}

.ant-btn-primary span {
  color: blue;
}
